<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <header class="header">
        <div class="header__content _container">
            <%- include('./partials/header__serch.ejs') %>
            <div class="header__menu header-item">
                <%- include('./partials/main-nav.ejs') %>
            </div>
            <div class="header__alert header-item">
                <a href="#" class="header__alert-link">
                    <i class="fa-solid fa-bell"></i>
                </a>
                <%- include('./modalAddUser.ejs') %>
            </div>
        </div>
    </header>
    <main class="page">
        <div class="page__content _container">
            <div class="task">
                <%- include('./partials/task-header.ejs'); %>
            </div>
            </div>
        </div>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>